#add_new_post_input {
  font-family: "Grandstander", cursive;
  font-size: 30px;
  margin-top: 50px;
  resize: none;
  height: 200px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#post_message_button {
  margin-top: 40px;
  font-family: "Grandstander", cursive;
  height: 100px;
  width: fit-content;
  font-size: 35px;
  border: solid 1rem black;
  border-radius: 3rem;
  transition: all 0.3s;
}

#post_message_button:hover {
  box-shadow: 5px 5px 20px rgb(36, 172, 2);
  text-shadow: 5px 5px 20px rgb(124, 120, 120);
  color: rgb(36, 172, 2);
  border: solid 0.5rem black;
}
#Post_message_form_div {
  align-items: center;
  margin: auto;
  margin-top: 50px;
}

.friend_img_msg {
  float: left;
  width: 80px;
  border-radius: 10rem;
  border: solid 0.5rem rgb(118, 197, 0);
  box-shadow: 2px 2px 2px rgb(167, 150, 121);
}

#msg_name {
  width: fit-content;
  font-family: "Grandstander", cursive;
  font-size: 20px;
  float: left;
}
#h1_Posts {
  font-family: "Grandstander", cursive;
  font-size: 40px;
  margin-top: 200px;
  text-shadow: 5px 5px 20px rgb(124, 120, 120);
  color: rgb(36, 172, 2);
}
#messege_div {
  border: solid 2px green;
}

#msg_content {
  width: fit-content;
  text-align: left;
  width: fit-content;
  font-family: "Grandstander", cursive;
  font-size: 20px;
}

@media screen and (max-width: 960px) {
  #add_new_post_input {
    font-family: "Grandstander", cursive;
    font-size: 20px;
  }
}
